$primary: black;
$danger: #c0a69a;
$warning: rgb(63, 63, 63);
$carousel-control-opacity: 0;
$carousel-control-width: 5%;
$info: rgb(22, 22, 22);

// carousel icon changing
$carousel-control-next-icon-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/></svg>');
$carousel-control-prev-icon-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/></svg>');
$carousel-indicator-width: 10px;
$carousel-indicator-height: 10px;
$carousel-indicator-spacer: 10px;
$carousel-dark-indicator-active-bg: $info;

$btn-hover-bg-shade-amount: 15%;
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// @include media-breakpoint-down(sm) {
//   .hero-img1 {
//     width: 100vw;
//     padding-top: 30px;
//     padding-bottom: 40px;
//     padding-left: 12px;
//   }
// }
// @include media-breakpoint-down(md) {
//   .hero-img1 {
//     width: 100vw;
//     padding-top: 30px;
//     padding-bottom: 40px;
//     padding-left: 12px;
//   }
// }
// @include media-breakpoint-down(lg) {
//   .hero-img1 {
//     width: 100vw;
//     padding-top: 30px;
//     padding-bottom: 40px;
//     padding-left: 12px;
//   }
// }
// @include media-breakpoint-down(xl) {
//   .hero-img1 {
//     width: 100vw;
//     padding-top: 300px;
//     padding-bottom: 400px;
//     padding-left: 120px;
//   }
// }
// @include media-breakpoint-down(xxl) {
// }

@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
